@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Stacker';
  src: url('/fonts/Stacker-jE03l.woff2') format('woff2'),
       url('/fonts/Stacker-jE03l.woff') format('woff'),
       url('/fonts/Stacker-jE03l.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Spicy+Rice&display=swap');


/* CSS Variables for Light Mode */
:root {
  --radius: 0.5rem;
  
  /* Example color variables */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --chart-1: 210 100% 50%;
  --chart-2: 120 100% 50%;
  --chart-3: 60 100% 50%;
  --chart-4: 30 100% 50%;
  --chart-5: 0 100% 50%;
}

/* Dark Mode Variables */
.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

/* Apply colors and typography to the body */
body {
  @apply bg-background text-foreground;
}

/* Custom Scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

/* Glassmorphism */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Sign Up/Sign In Wrapper Styles */
.signUpWrapper, .signInWrapper {
  @apply h-screen w-full flex justify-center items-center;
  background: linear-gradient(to right, #c9ebb5, #e7eae3); /* Custom gradient */
  min-height: 100vh;
  position: relative;
}

.formWrapper {
  @apply flex shadow-2xl items-center border bg-primary rounded-lg overflow-hidden justify-center w-[20rem] mx-6 md:w-auto my-4;
  background-color: #3B5249;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}


.signUpWrapper .left, .signInWrapper .left {
  @apply bg-primary text-muted hidden md:flex justify-center items-center flex-col;
  background-color: #3B5249;
}

.signUpWrapper .left .title, .signInWrapper .left .title {
  @apply text-4xl font-bold font-libre;
}

.signUpWrapper .left p, .signInWrapper .left p {
  @apply text-sm max-w-[90%] text-center mb-3;
}

.signInWrapper .right, .signUpWrapper .right {
  @apply px-4 py-4 my-4 mx-4 md:w-1/2 w-[20rem] bg-white rounded-lg;
}

/* Social Signup/Signin Buttons */
.socialFormBtn {
  @apply rounded-full h-[2.5rem] w-[2.5rem] p-0 mx-2 border-zinc-400;
}

.socialSignUpOptions {
  @apply my-3 flex justify-center items-center;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.greeting {
  animation: fadeInUp 0.8s ease-out;
}
video {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
